@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'oswald';
  src: url(./assets/oswald.ttf) format('truetype');
}

body {
  font-size: 0.875em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Oswald;
}
