@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'oswald';
  src: url(./assets/oswald.ttf) format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

html {
  text-size-adjust: 100%;
}

* {
  @apply box-border;
}

.swiper-pagination {
  @apply mt-6;
}
.swiper-pagination-bullet {
  @apply inline-block w-2 h-2 rounded-full bg-black opacity-50 mx-1;
}
.swiper-pagination-bullet-active {
  @apply bg-ss-red-500 pl-8;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  @apply cursor-pointer;
}

.triangle:after {
  @apply border-y-gray-200 border-x-transparent content-[''] absolute border-solid block w-0 left-[48%] text-transparent border-x-[10px] border-t-[10px] border-b-0 -bottom-2;
}

.slide-enter {
  transform: translateY(-100%);
  transition: 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter-active {
  transform: translateY(0%);
}
.slide-leave {
  transform: translateY(0%);
  transition: 0.3s ease-in-out;
}
.slide-leave-active {
  transform: translateY(-100%);
}

.footer-main {
  @apply capitalize;
}

.footer-main h4 {
  @apply font-bold;
}

.footer-main ul {
  @apply mt-3 text-slate-700;
}

.footer-main ul li {
  @apply block text-sm mt-2 font-medium;
}
